body {
    font-family: "Montserrat", sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

#container-fluid {
  padding: 3% 8% 0%;
}
#title {
  background-color: rgb(241, 10, 87);
  padding-bottom:8%;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
.navbar-brand {
    font-size: 2rem;
}
#title-heading {
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.5;
  padding-bottom: 30px;
}
#android {
  height: 30px;
}
#apple {
  height: 30px;
}
#navbar {
  font-size: 2rem;
}
.dog-image {
    height: 90%;
    left: 60%;
    position: absolute;
    transform: rotate(25deg);
    z-index: 0;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
    text-align: center;
    padding: 6%;
    font-family: "Montserrat-bold", sans-serif;
}
.head {
  font-weight : 900;
}
.icon {
  color: #ef8176;
  margin-bottom: 20px;
}
.icon:hover {
  color: rgb(255, 51, 0);
}

.carousel-item{
  padding: 3% 15%;
}


.testimonial-img {
  width: 10%;
  border-radius: 100%;
}
#press {
  background-color: #ef8176;
  text-align: center;
  padding-bottom: 5%;
}
.press-logo {
  margin: 12px 50px;
  width: 10%;
}
#testimonial-carousel {
  color: aliceblue;
  text-align: center;
  background-color: #ef8176;}
  .card {
    margin: 2% ;
}

#pricing {
  padding: 3% 9%;
  text-align: center;
}
#cta {
  padding-bottom: 60px;
  background-color: rgb(241, 10, 87);
  margin-top: 10%;
  text-align: center;
  color: aliceblue;
 }

#footer {
  padding: 40px 0px 50px 0px;
  color: rgb(35, 38, 41);
  background-color: rgb(255, 255, 255);
  text-align: center;
}
#cta-head {
  margin: 5%;
}


@media (max-width: 1028px){
  .dog-image{
    padding-top: 80px;
    position: static;
    transform: rotate(0deg);
  }

  #features {
    padding-top: 30%;
  }
}